<div class="login_wrapper">
  <div class="logo">
    <img src="assets/images/logo.svg" alt="" />
  </div>
  <h1 class="heading">Register</h1>
  <div class="login_form">
    <div class="input_row">
      <input type="text" name="" placeholder="Email">
    </div>
    <div class="input_row">
      <input type="Password" name="" placeholder="Password">
    </div>
    <div class="input_row">
      <input type="Password" name="" placeholder="Confirm Password">
    </div>
    <div class="input_row">
      <button>Sign Up</button>
    </div>
    <div class="or">
      <span>Or</span>
    </div>
    <div class="login_with">
      <button>Login With Facebook</button>
      <button>Login With Google</button>
    </div>
  </div>
</div>
