<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <div class="dictionary-page">
    <h1 class="sub_heading">My Dictionary</h1>
    <ul class="dictionary_list">
      <li>
        <h2>Abnegation</h2>
        <h3>the action of renouncing or rejecting something</h3>
        <a routerLink="/word/detail" class="read_more">Read More</a>
      </li>
      <li>
        <h2>Abnegation</h2>
        <h3>the action of renouncing or rejecting something</h3>
        <a routerLink="/word/detail" class="read_more">Read More</a>
      </li>
      <li>
        <h2>Abnegation</h2>
        <h3>the action of renouncing or rejecting something</h3>
        <a routerLink="/word/detail" class="read_more">Read More</a>
      </li>
      <li>
        <h2>Abnegation</h2>
        <h3>the action of renouncing or rejecting something</h3>
        <a routerLink="/word/detail" class="read_more">Read More</a>
      </li>
      <li>
        <h2>Abnegation</h2>
        <h3>the action of renouncing or rejecting something</h3>
        <a routerLink="/word/detail" class="read_more">Read More</a>
      </li>
      <li>
        <h2>Abnegation</h2>
        <h3>the action of renouncing or rejecting something</h3>
        <a routerLink="/word/detail" class="read_more">Read More</a>
      </li>
      <li>
        <h2>Abnegation</h2>
        <h3>the action of renouncing or rejecting something</h3>
        <a routerLink="/word/detail" class="read_more">Read More</a>
      </li>
    </ul>
  </div>
  <app-footer></app-footer>
  </div>
