<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <div class="profile-page">
    <div class="profile-page-top">
      <div class="profile-img">
        <img src="assets/images/profile-img.png" alt="" />
        <div class="profile_update">
          <input type="file" id="img" name="img" accept="image/*">
        </div>
      </div>
      <div class="profile-info">
        <h2>Mary Joseph</h2>
        <span>maryjoseph@gmail.com</span>
      </div>
    </div>
    <div class="profile-listing">
      <ul class="tabs">
        <li class="active">History</li>
        <li>Bookmark</li>
      </ul>
      <div class="tab-listing">
        <div class="Recommended_row">
          <div class="Recommended_img">
            <img src="assets/images/Recommended.jpg">
          </div>
          <div class="Recommended_content">
            <h2><a href="#">China includes Arunachal, Aksai Chin area in new map</a></h2>
            <div class="views">
              <span>50 Views</span>
              <i>45</i>
            </div>
            <button class="bookmark"><img src="assets/images/share-icon.svg" alt=""></button>
          </div>
        </div>
        <div class="Recommended_row">
          <div class="Recommended_img">
            <img src="assets/images/Recommended.jpg">
          </div>
          <div class="Recommended_content">
            <h2><a href="#">China includes Arunachal, Aksai Chin area in new map</a></h2>
            <div class="views">
              <span>50 Views</span>
              <i>45</i>
            </div>
            <button class="bookmark"><img src="assets/images/share-icon.svg" alt=""></button>
          </div>
        </div>
        <div class="Recommended_row">
          <div class="Recommended_img">
            <img src="assets/images/Recommended.jpg">
          </div>
          <div class="Recommended_content">
            <h2><a href="#">China includes Arunachal, Aksai Chin area in new map</a></h2>
            <div class="views">
              <span>50 Views</span>
              <i>45</i>
            </div>
            <button class="bookmark"><img src="assets/images/share-icon.svg" alt=""></button>
          </div>
        </div>
        <div class="Recommended_row">
          <div class="Recommended_img">
            <img src="assets/images/Recommended.jpg">
          </div>
          <div class="Recommended_content">
            <h2><a href="#">China includes Arunachal, Aksai Chin area in new map</a></h2>
            <div class="views">
              <span>50 Views</span>
              <i>45</i>
            </div>
            <button class="bookmark"><img src="assets/images/share-icon.svg" alt=""></button>
          </div>
        </div>
        <div class="Recommended_row">
          <div class="Recommended_img">
            <img src="assets/images/Recommended.jpg">
          </div>
          <div class="Recommended_content">
            <h2><a href="#">China includes Arunachal, Aksai Chin area in new map</a></h2>
            <div class="views">
              <span>50 Views</span>
              <i>45</i>
            </div>
            <button class="bookmark"><img src="assets/images/share-icon.svg" alt=""></button>
          </div>
        </div>
        <div class="Recommended_row">
          <div class="Recommended_img">
            <img src="assets/images/Recommended.jpg">
          </div>
          <div class="Recommended_content">
            <h2><a href="#">China includes Arunachal, Aksai Chin area in new map</a></h2>
            <div class="views">
              <span>50 Views</span>
              <i>45</i>
            </div>
            <button class="bookmark"><img src="assets/images/share-icon.svg" alt=""></button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  </div>
