<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <div class="news-details">
    <div class="news-details-img">
      <img src="assets/images/news-details.jpg" alt="" />
    </div>
    <div class="news-details-info">
      <span class="time"><img src="assets/images/time-icon.svg" /> 29 Aug 23</span>
      <ul>
        <li><i><img src="assets/images/heart-solid.png" alt=""></i> 45</li>
        <li><img src="assets/images/share-icon.svg" alt="" /></li>
      </ul>
    </div>
    <div class="news_content">
      <h1>China includes Arunachal, Aksai Chin area in new map</h1>
      <div class="news_content_row">
        <p>
          China on Monday released the 2023 edition of its "standard map", incorporating Arunachal Pradesh, the Aksai Chin region, Taiwan and the disputed South China Sea in it.
          India maintains that Arunachal Pradesh has "always been" and will "always be" an integral part of the country.
          "The 2023 edition of China's standard map was officially released on Monday and launched on the website of the standard map service hosted by the Ministry of Natural Resources," state-run Global Times said in a post on X (formerly Twitter).
        </p>
        <p>
          China on Monday released the 2023 edition of its "standard map", incorporating Arunachal Pradesh, the Aksai Chin region, Taiwan and the disputed South China Sea in it.
          India maintains that Arunachal Pradesh has "always been" and will "always be" an integral part of the country.
          "The 2023 edition of China's standard map was officially released on Monday and launched on the website of the standard map service hosted by the Ministry of Natural Resources," state-run Global Times said in a post on X (formerly Twitter).
        </p>
        <p>
          China on Monday released the 2023 edition of its "standard map", incorporating Arunachal Pradesh, the Aksai Chin region, Taiwan and the disputed South China Sea in it.
          India maintains that Arunachal Pradesh has "always been" and will "always be" an integral part of the country.
          "The 2023 edition of China's standard map was officially released on Monday and launched on the website of the standard map service hosted by the Ministry of Natural Resources," state-run Global Times said in a post on X (formerly Twitter).
        </p>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
