<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <div class="side_nav">
    <i class="nav_close">
      <img src="assets/images/close-icon.svg" alt="">
    </i>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/article-detail">News</a></li>
      <li><a routerLink="/article-detail">Abnegation</a></li>
      <li><a routerLink="/article-detail">Dictionary</a></li>
      <li><a routerLink="/article-detail">Profile</a></li>
    </ul>
    <a routerLink="/article-detail" class="login_btn">Login</a>
  </div>
  <div class="whats_new">
    <h1 class="sub_heading">What’s New ?</h1>
    <div class="whats_new_section">
      <div class="whats_new_row">
        <a routerLink="/article-detail"><img src="assets/images/whats_new.jpg" alt="" /></a>
        <h2><a routerLink="/article-detail">Chhattisgarh illegal betting app: ED grills CM's aide, OSD in money laundering probe</a></h2>
        <div class="view_book">
          <span>50 Views</span>
          <button class="bookmark"><img src="assets/images/bookmark.svg" alt="" /></button>
        </div>
      </div>
      <div class="whats_new_row">
        <a routerLink="/article-detail"><img src="assets/images/whats_new.jpg" alt="" /></a>
        <h2><a routerLink="/article-detail">Chhattisgarh illegal betting app: ED grills CM's aide, OSD in money laundering probe</a></h2>
        <div class="view_book">
          <span>50 Views</span>
          <button class="bookmark"><img src="assets/images/bookmark.svg" alt="" /></button>
        </div>
      </div>
      <div class="whats_new_row">
        <a routerLink="/article-detail"><img src="assets/images/whats_new.jpg" alt="" /></a>
        <h2><a routerLink="/article-detail">Chhattisgarh illegal betting app: ED grills CM's aide, OSD in money laundering probe</a></h2>
        <div class="view_book">
          <span>50 Views</span>
          <button class="bookmark"><img src="assets/images/bookmark.svg" alt="" /></button>
        </div>
      </div>
    </div>
  </div>
  <div class="Recommended_foryou">
    <div class="Recommended_top">
      <h3 class="sub_heading">Recommended for you</h3>
      <a routerLink="/article-detail" class="see_all">See all</a>
    </div>
    <div class="Recommended_section">
      <div class="Recommended_row">
        <div class="Recommended_img">
          <img src="assets/images/Recommended.jpg" />
        </div>
        <div class="Recommended_content">
          <h2><a routerLink="/article-detail">China includes Arunachal, Aksai Chin area in new map</a></h2>
          <div class="views">
            <span>50 Views</span>
            <i class="active">45</i>
          </div>
          <button class="bookmark"><img src="assets/images/bookmark.svg" alt="" /></button>
        </div>
      </div>
      <div class="Recommended_row">
        <div class="Recommended_img">
          <img src="assets/images/Recommended.jpg" />
        </div>
        <div class="Recommended_content">
          <h2><a routerLink="/article-detail">China includes Arunachal, Aksai Chin area in new map</a></h2>
          <div class="views">
            <span>50 Views</span>
            <i>45</i>
          </div>
          <button class="bookmark"><img src="assets/images/bookmark.svg" alt="" /></button>
        </div>
      </div>
    </div>
  </div>
  <div class="Recommended_foryou">
    <div class="Recommended_top">
      <h3 class="sub_heading">Trending News</h3>
      <a routerLink="/article-detail" class="see_all">See all</a>
    </div>
    <div class="Recommended_section">
      <div class="Recommended_row">
        <div class="Recommended_img">
          <img src="assets/images/Recommended.jpg" />
        </div>
        <div class="Recommended_content">
          <h2><a routerLink="/article-detail">China includes Arunachal, Aksai Chin area in new map</a></h2>
          <div class="views">
            <span>50 Views</span>
            <i class="active">45</i>
          </div>
          <button class="bookmark"><img src="assets/images/bookmark.svg" alt="" /></button>
        </div>
      </div>
      <div class="Recommended_row">
        <div class="Recommended_img">
          <img src="assets/images/Recommended.jpg" />
        </div>
        <div class="Recommended_content">
          <h2><a routerLink="/article-detail">China includes Arunachal, Aksai Chin area in new map</a></h2>
          <div class="views">
            <span>50 Views</span>
            <i>45</i>
          </div>
          <button class="bookmark"><img src="assets/images/bookmark.svg" alt="" /></button>
        </div>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
  <div class="interested_Articles" style="display:none">
    <i class="close">
      <img src="assets/images/close-icon.svg" alt="" />
    </i>
    <p>Articles you would be interested in</p>
    <ul>
      <li>Historical Fiction</li>
      <li>Historical Fiction</li>
      <li>Historical Fiction</li>
      <li class="active">Historical Fiction</li>
      <li class="active">Historical Fiction</li>
      <li>Historical Fiction</li>
      <li>Historical Fiction</li>
      <li class="active">Historical Fiction</li>
      <li>Historical Fiction</li>
      <li>Historical Fiction</li>
      <li>Historical Fiction</li>
      <li>Historical Fiction</li>
      <li>Historical Fiction</li>
      <li>Historical Fiction</li>
    </ul>
    <button class="Skip_btn">Skip</button>
  </div>
</div>
