<div class="wrapper">
  <app-nav-menu></app-nav-menu>
  <div class="abnegation-page">
    <h1 class="sub_heading">Abnegation</h1>
    <div class="abnegation-content">
      <p>“the action of renouncing or rejecting something”</p>
    </div>
    <div class="Examples_listing">
      <h2 class="sub_heading">Examples</h2>
      <ul>
        <li>The school counselor hoped she could encourage her students to consider the <strong>abnegation</strong> of drug use.</li>
        <li>The school counselor hoped she could encourage her students to consider the <strong>abnegation</strong> of drug use.</li>
        <li>The school counselor hoped she could encourage her students to consider the <strong>abnegation</strong> of drug use.</li>
        <li>The school counselor hoped she could encourage her students to consider the <strong>abnegation</strong> of drug use.</li>
        <li>The school counselor hoped she could encourage her students to consider the <strong>abnegation</strong> of drug use.</li>
        <li>The school counselor hoped she could encourage her students to consider the <strong>abnegation</strong> of drug use.</li>
        <li>The school counselor hoped she could encourage her students to consider the <strong>abnegation</strong> of drug use.</li>
        <li>The school counselor hoped she could encourage her students to consider the <strong>abnegation</strong> of drug use.</li>
        <li>The school counselor hoped she could encourage her students to consider the <strong>abnegation</strong> of drug use.</li>
      </ul>
    </div>
  </div>
  <app-footer></app-footer>
</div>

